<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="szjy.com" version="0.1">
  <name>MyVoice</name>
  <js-module name="MyVoice" src="www/MyVoice.js">
    <clobbers target="cordova.plugins.MyVoice"/>
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="MyVoice">
        <param name="android-package" value="szjy.com.MyVoice"/>
      </feature>
    </config-file>

    <config-file parent="/*" target="AndroidManifest.xml">
        <uses-permission android:name="android.permission.RECORD_AUDIO" />
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>

    <source-file src="src/android/MyVoice.java" target-dir="src/szjy/com/MyVoice"/>
  </platform>
</plugin>
